$container-padding : 15px;

body {
  font-family: Calibri, Arial, Tahoma, Serif;
  font-size: 17px;
}

.container-cv {
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-right: auto;
  margin-left: auto;
  margin-top: 9rem;
  margin-bottom: 10px;
  
@media (min-width: 768px) {
    width: 750px;
}
@media (min-width: 992px) {
    width: 970px;
}
@media (min-width: 1200px) {
    width: 1170px;
}
}