$sucess-color: #30724b;
$secondary-color: #e4e4e4;
$white-color: #ffffff;
$warning-color: #fbe34c;
$black-color: #000000;
$secondary-color : #da4453;
$principal-color : #800080;
$default-size:50px;
$main-gradient: linear-gradient(to left, $secondary-color , $principal-color);
$card-hover-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$card-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$ease: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

/* dark mode colors*/
$main-background: #0c121e;
$mainsecond-background: #242b35;
$white-dark: #f3f3f4;
$txt-color: #f3f3f4;
$blu-color: #8de8fe;

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  text-align: center;
}

.flex-item-left {
  flex: 45%;
}

.flex-item-right {
  flex: 45%;
}

@media (min-width: 1001px) {
  .presentation-card {
    width: 60vw;
  }
  .footer-menu {
    top: 30%;   
    right: 0;
  }
  .footer-menu  > * {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .education-card,
  .certification-card,
  .presentation-card,
  .experience-card {
    width: 70vw;
  }
  .footer-menu {
    top: 30%;
    right: 0;
  }
  .footer-menu  > * {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .education-card,
  .certification-card,
  .presentation-card,
  .experience-card {
    width: 90vw;
  }
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
    text-align: center;
  }
  .navbar-nav {
    margin-left: 0px;
  }

  .options {
    display: flex;
    flex-direction: column-reverse;
  }
  .options > * {
    margin-top: 3px;
  }
  .under-cons-picture {
    width: 70vw;
  }
  .picture-404 {
    width: 35vw;
  }

  .presentation-card {
    z-index: 2;
    height: $default-size * 3;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    box-shadow: $card-shadow;
    color: $black-color;
    padding: 5px;
    margin-top: 0px;
    border-top: 2px solid $white-color;
    backdrop-filter: blur(10px);
  }
  .presentation-picture {
    width: $default-size;
    height: $default-size;
    border-radius: 50%;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    border: 2px solid $white-color;
    z-index: 3;
    transition: 0.5s;
  }
  .footer-menu {
    bottom: 0;
    left: 30%;
  }
  .footer-menu  > * {
    margin: 10px;
    display: flex;
    flex-direction: row;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.logo {
  height: $default-size;
  width: 100px;
}
.img-logo {
  width: $default-size;
  height: $default-size;
}

.navbar-nav {
  margin-left: $default-size;
}

.menu {
  color: rgba(0,0,0,.55);;
}

.menu-selected {
  border-bottom: 5px solid;
  border-image: $main-gradient 1;
}
.menu > h1 {
  font-size: $default-size;
  border-bottom: 5px solid;
}

.header-cv {
  color: $white-color;
  height: 110px;
  border-radius: 0 0 100% 100%;
  background: $main-gradient;
}

.header-cv > * {
  text-align: center;
}

.header-cv > h1 {
  visibility: hidden;
}

.education-card {
  position: relative;
  height: 120px;
  margin-bottom: 5px;
  border-radius: 7px;
  box-shadow: $card-shadow;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.1s;
}
.education-card:hover,
.education-card:active,
.education-card:focus,
.certification-card:hover,
.certification-card:active,
.certification-card:focus {
  box-shadow: $card-hover-shadow;
}

.certification-card {
  position: relative;
  height: max-content;
  border-radius: 7px;
  box-shadow: $card-shadow;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.certification-card > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 575px) {
.presentation-card {
  z-index: 2;
  height: $default-size * 3;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  box-shadow: $card-shadow;
  color: $black-color;
  padding: 5px;
  margin-top: 0px;
  border-top: 2px solid $white-color;
  backdrop-filter: blur(10px);
}

.presentation-picture {
  width: $default-size;
  height: $default-size;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid $white-color;
  z-index: 3;
  transition: 0.5s;
}
}

.presentation-card > h4 {
  padding-top: 30px;
}

.presentation-picture:hover {
  transform: scale(1.3);
}

.skill {
  display: inline-block;
  color: $white-color;
  border-radius: 50rem;
  margin-right: 5px;
  margin-bottom: 5px;
}
.skill-language {
  background-color: $principal-color;
}
.skill-framework {
  background-color: #9c1572;
}
.skill-db {
  background-color: #c3335d;
}
.skill-tools {
  background-color: $secondary-color;
}
.skill > span {
  padding: 0.35em 0.65em;
  line-height: 2;
  text-align: center;
}

.options {
  position: fixed;
  right: 5px;
  bottom: 15px;
  color: $white-color;
  z-index: 4;
}

.options > button,
a > button {
  margin-right: 5px;
  border-radius: 7px;
  color: #08acb4;
  background-color: #252933;
  border: none;
  width: $default-size;
  height: $default-size;
  transition: 0.2s;
}
.options :hover {
  color: #ffffff;
}
.options :active {
  font-size: 20px;
}

.footer-menu {
  position: fixed;
  border-radius: 7px 7px 0 0;
  z-index: 4;
  color: $white-color;
  backdrop-filter: blur(10px);
}

.footer-menu  > * {
  margin: 10px;
}

.footer {
  background-color: $black-color;
  display: flex;
  justify-content: center;
  color: $white-color;
  border-top: 5px solid $principal-color;
}

.footer > * {
  margin: 10px;
}
.social-footer {
  cursor: pointer;
  font-size: 1.5em;
  color: $white-color;
  transition: 0.4s;
}

.social-footer:hover {
  color: $principal-color;
}

/* Experiences components */

.experience-card {
  height: fit-content;
  margin-bottom: 10px;
  border-radius: 7px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.1s;
  position: relative;
  box-shadow: $card-shadow;
}
.experience-card:hover,
.experience-card:active,
.experience-card:focus {
  box-shadow: $card-hover-shadow;
}

.experience-header {
  position: absolute;
  width: inherit;
  height: $default-size;
  left: -20px;
  top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.experience-picture {
  width: $default-size;
  height: $default-size;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: $card-shadow;
}

.experience-description {
  margin-top: 60px;
  text-align: justify;
  padding: 5px;
  white-space: pre-line;
}

.experience-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.bi-stack,
.bi-person-workspace,
.bi-geo-alt-fill,
.bi-calendar-range-fill,
.bi-mortarboard-fill {
  margin-right: 5px;
}

.certification-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skeleton-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.certification-picture {
  width: $default-size;
  height: $default-size;
  border-radius: 50%;
  border: 2px solid $white-color;
  box-shadow: $card-shadow;
}

.hidden {
  display: none;
}

.center-div {
  justify-content: center;
}

img{
  image-rendering: -webkit-optimize-contrast;
}

/* burger menu */

.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  transition: $ease;
  height: 20px;
  
  &__patty {
    position: relative;
    height: 2px;
    width: 40px;
    background: $main-gradient;
    
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      height: 2px;
      width: 100%;
      background: $main-gradient;
    }
    
    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      height: 2px;
      width: 100%;
      background: $main-gradient;
    }
  }
  
  &__patty,
  &__patty:before,
  &__patty:after {
    will-change: transform;
    transition: $ease;
  }
  
  &--active {
    cursor: pointer;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .burger__patty {
      transform: rotate(90deg);
      &:before {
        transform: rotate(-45deg) translate(-7px,-7px) scaleX(0.7);
      }
      
      &:after {
        transform: rotate(45deg) translate(-7px,7px) scaleX(0.7);
      }
    }
  }
  
  @media (min-width: 575px) {
    display: none;
    
    &__patty {
      transform: scale(0.8);
      display: none;
    }
    
    &--active {
      .burger__patty {
        transform: scale(0.8) rotate(90deg);
      }
    }
  }
}

/* dark mode */

.header-dark {
  background-color: $main-background;
}

.card-dark {
  background-color: $mainsecond-background;
  color: $white-color;
}

.title-dark {
  color: $white-dark;
}